<div class="main-container">
    <a mat-stroked-button routerLink="/home" class="back-button">
        <mat-icon aria-hidden="false" aria-label="Icon" class="back-button-icon">arrow_back</mat-icon>
    </a>
    <h1 class="page-title">Search for Exercise</h1>
    <p>Exercise is any bodily activity that enhances or maintains physical fitness and overall health and wellness. It is performed for various reasons, including increasing growth and development, preventing aging, strengthening muscles and the cardiovascular system, honing athletic skills, weight loss or maintenance, and also enjoyment.</p>
</div>
