<div class="main-wrapper">
    <router-outlet></router-outlet>
    <footer>
        <p class="damage-text">
            This App shall not be liable for any damages arising out of the use this library.
        </p>
        <p>
            Powered by 
            <a class="navbar-brand" href="https://developer.nutritionix.com/"> Nutritionix API </a> 
            <!-- &amp; 
            <a class="navbar-brand" href="https://wger.de/en/software/api"> wger API </a> -->
        </p>
    </footer>
</div>
