<div class="main-container">
    <a mat-stroked-button routerLink="/home" class="back-button">
        <mat-icon aria-hidden="false" aria-label="Icon" class="back-button-icon">arrow_back</mat-icon>
    </a>
    <h1 class="page-title">{{ title }}</h1>
    <p class="page-subtitle">{{ subtitle }}</p>

    <mat-card class="form-wrapper">
        <mat-card-header>
            <!-- <mat-card-title>Weight Calculator</mat-card-title> -->
        </mat-card-header>
        <mat-card-content class="form-card">
            <form [formGroup]="formdata" autocomplete="off">
                <div class="unit-radio">
                    <mat-radio-group formControlName="unit">
                        <mat-radio-button class="radio-margin" value="1" (change)="resetForm()">Metric Units</mat-radio-button>
                        <mat-radio-button class="radio-margin" value="2" (change)="resetForm()">US units</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div *ngIf="formdata.get('unit').value">
                    <mat-radio-group formControlName="gender">
                        <mat-radio-button class="radio-margin" value="1">Male</mat-radio-button>
                        <mat-radio-button class="radio-margin" value="2">Female</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field class="input-full-width">
                        <mat-label>Enter You height in 
                            <span *ngIf="formdata.get('unit').value == 1">Centimeters</span>
                            <span *ngIf="formdata.get('unit').value == 2">Feets</span>
                        </mat-label>
                        <input type="number" matInput formControlName="height" step=".01">
                    </mat-form-field>
                </div>
            </form>
            <button mat-raised-button 
                    *ngIf="formdata.get('unit').value" 
                    [disabled]="!formdata.valid" 
                    (click)="calculate(formdata.value)" 
                    color="custom-primary">Calculate</button>
        </mat-card-content>
        <mat-card-actions *ngIf="result">
            Your ideal weight: <span class="calc-result">{{ result }}</span>
        </mat-card-actions>
    </mat-card>
</div>