<div class="main-container">
    <a mat-stroked-button routerLink="/home" class="back-button">
        <mat-icon aria-hidden="false" aria-label="Icon" class="back-button-icon">arrow_back</mat-icon>
    </a>
    <h1 class="page-title">Ideal Weight Calculator</h1>
    <p class="page-subtitle">The Ideal Weight Calculator computes ideal (health-wise) bodyweight(IBW) ranges based on height and gender.</p>

    <mat-card class="form-wrapper">
        <mat-card-header>
            <!-- <mat-card-title>Weight Calculator</mat-card-title> -->
        </mat-card-header>
        <mat-card-content class="form-card">
            <form [formGroup]="formdata" autocomplete="off">
                <mat-radio-group formControlName="gender">
                    <mat-radio-button class="radio-margin" value="1">Male</mat-radio-button>
                    <mat-radio-button class="radio-margin" value="2">Female</mat-radio-button>
                  </mat-radio-group>
                <mat-form-field class="input-full-width">
                    <mat-label>Enter You height in Centimeters</mat-label>
                    <input type="number" matInput formControlName="height">
                </mat-form-field>
            </form>
            <button mat-raised-button [disabled]="!formdata.valid" (click)="calculate(formdata.value)" color="custom-primary">Calculate</button>
        </mat-card-content>
        <mat-card-actions>
            Your ideal weight: <span class="calc-result">{{result}}</span>
        </mat-card-actions>
    </mat-card>
</div>