@import '@angular/material/prebuilt-themes/purple-green.css';

html{
    height: 100%
}

body{
    font-family: Rajdhani, Roboto, Arial, Helvetica, sans-serif;
    background-color: #464646;
    /* display: grid;
    align-content: center; */
    min-height: 100%;
    margin:0;
    padding: 0;
    color: #aaa;
}

a, a:active, a:visited{
    color: #fff;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    text-align: center;
    margin: 5px 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }

.main-wrapper{
    padding-top: 20px;
}

.main-container{
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.main-container .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    color: #aaa;
    border-color: #666;
}

.page-title{
    color: #957979;
}

.page-subtitle {
    margin-bottom: 20px;
    padding: 0 5px;
}

.mat-card {
    margin: 20px;
}

.mat-card-header-text,
.input-full-width{
    width: 100%;
}

.mat-card-title,
.mat-card-actions,
.mat-card-content{
    text-align: center;
}

.mat-card .mat-card-content{
    display: grid;
    /* justify-content: center; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.radio-margin {
    margin: 0 10px;
}

.mat-progress-spinner-wrapper{
    position: absolute;
    left: 0;
    left: 0;
    top: 0;
    bottom:0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(50,50,50,0.5)
}

.progress-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-card{
    justify-content: center;
}

.mat-expansion-panel-header-description{
    justify-content: flex-end;
}

.mat-expansion-panel-body {
    background-color: #3f3f3f;
}

.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
    background-color:#393939 !important;
}

.mat-accordion>.mat-expansion-panel-spacing:first-child, .mat-accordion>*:first-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
    margin-top: 15px !important;
}

.mat-raised-button:hover {
    color: #ccc;
}

.calc-result{
    color: #957979;
}

.unit-radio{
    margin-bottom: 15px;
}

/*Angular theme modification*/
.mat-custom-primary{
    background-color: #957979;
    color: #eee;
}

.mat-form-field-wrapper .mat-input-element {
    caret-color: #957979 !important;
}

.mat-form-field.mat-focused .mat-form-field-label,
.mat-form-field.mat-focused.mat-primary .mat-select-arrow,
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #957979 !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-radio-button.mat-accent .mat-radio-inner-circle, 
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), 
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, 
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple,
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #957979 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #957979 !important;
}
/*End of Angular theme modification*/

@media screen and (max-width: 890px) {

    .main-container .back-button {
        top: 0;
        left: 0;
        padding: 0;
        border: none;
        min-width: 20px;
    }

}

@media screen and (max-width: 480px) {
    .mat-expansion-panel-header-description {
        line-height: 11px;
    }
}
