<div class="mat-progress-spinner-wrapper" *ngIf="isLoading">
    <div class="progress-spinner">
        <mat-spinner></mat-spinner>
    </div>
</div>

<mat-card>
    <mat-card-content>
        <form #searchbox class="search-form" autocomplete="off">
            <mat-form-field>
                <mat-label>Search for food</mat-label>
                <input #searchbox type="text" matInput>
            </mat-form-field>
            <button mat-button (click)="getData(searchbox.value)"><mat-icon matSuffix>search</mat-icon></button>
        </form>
    </mat-card-content>
</mat-card>

<div *ngIf="result; else message" class="food-items-wrapper">
    <mat-card *ngFor="let food of foodData" class="food-items add-food-items">

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Add food button" class="add-food-btn">
            <mat-icon class="add-btn-icon">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addFood(food.fields, 0)" class="add-menu-btn">
                <mat-icon class="add-btn-icon">add</mat-icon>
                <span>Breakfast</span>
            </button>
            <button mat-menu-item (click)="addFood(food.fields, 1)" class="add-menu-btn">
                <mat-icon class="add-btn-icon">add</mat-icon>
                <span>Lunch</span>
            </button>
            <button mat-menu-item (click)="addFood(food.fields, 2)" class="add-menu-btn">
                <mat-icon class="add-btn-icon">add</mat-icon>
                <span>Dinner</span>
            </button>
            <button mat-menu-item (click)="addFood(food.fields, 3)" class="add-menu-btn">
                <mat-icon class="add-btn-icon">add</mat-icon>
                <span>Snack</span>
            </button>
        </mat-menu>
          

        <mat-card-title class="food-title">
            {{ trimTitle(food.fields.item_name) }}
            <p class="serving-val">
                <span >{{food.fields.nf_serving_size_qty}} {{food.fields.nf_serving_size_unit}}</span>
            </p>
        </mat-card-title>
        <mat-card-content class="food-content">
            <table>
                <tbody>
                    <tr>
                        <td class="added-food-cel"><span class="nutrition">Calories: </span><span class="nutrition-val">{{food.fields.nf_calories}}</span></td>
                        <td class="added-food-cel"><span class="nutrition">Protein: </span><span class="nutrition-val">{{food.fields.nf_protein}}</span></td>
                    </tr>
                    <tr>
                        <td class="added-food-cel"><span class="nutrition">Fiber: </span><span class="nutrition-val">{{food.fields.nf_dietary_fiber}}</span></td>
                        <td class="added-food-cel"><span class="nutrition">Carbohydrate: </span><span class="nutrition-val">{{food.fields.nf_total_carbohydrate}}</span></td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #message>
    <mat-card>
        <mat-card-title class="food-title">
            Nothing found!
        </mat-card-title>
        <p>
            We could not find any result. Please try again with something else.
        </p>
        <p>Please try something like: meat, milk, eggs...etc.</p>
    </mat-card>
</ng-template>
